<template name="find_me_map">
  <button id="find_me" class="btn" type="button"><i class="fa fa-map-marker"> Me</i></button>
</template>

<template name="search_resources">
  <form id="search_resources_form" class="form-search form-horizontal">
    <div id="search_resources_div" class="input-append">
      <input id="search_resources_field" type="text" class="search-query" placeholder="{{placeholder}}">
      <button type="button" class="btn"><i class="icon-search"></i></button>
    </div>
  </form>
</template>
