<template name="home">
  <div class="row-fluid">
    <div class="span3">
      {{#with service_datums}}
      {{> search_services}}
      {{/with}}
    </div>
    <div class="span5" style="margin-left:20px">
      {{> search_map}}
    </div>
    <div class="span4">
      {{#with resource_datums}}
      {{> home_search_resources search_placeholder}}
      {{/with}}
    </div>
  </div>
  <div class="row-fluid" style="height:100%">
    <div class="span3" id="services_home">
      {{> services_sidebar}}
    </div>
    <div class="span5" style="height:100%; margin-left:20px">
      {{> map_home}}
    </div>
    <div class="span4" style="overflow-y: scroll;" id="display_home">
      {{> display_home}}
    </div>
  </div>
</template>

<template name="search_services">
  <form id="search_services_form" class="form-search form-horizontal">
    <div class="input-append">
      <input id="search_services_field" type="text" class="search-query" placeholder="Search Services">
      <button type="submit" class="btn"><i class="fa fa-search"></i></button>
    </div>
  </form>
</template>

<template name="services_sidebar">
  {{#each services}}
  {{> service_box}}
  {{/each}}
</template>

<template name="service_box">
  <div class="serviceBox selected" color={{color}}>
    <div class="row-fluid" style="position:relative; top:15px">
      <div class="span10">
        {{name}}
      </div>
      <div class="pull-right">
        {{count}}
      </div>
    </div>
  </div>
</template>

<template name="search_map">
  <form class="form-search form-horizontal">
    <div class="input-append">
      <input id="search_map_field" type="text" size="200" placeholder="Change Location" style="-webkit-border-radius:14px; -moz-border-raidus:14px">
    </div>
  </form>
</template>

<template name="map_home">
  {{#constant}}
  <div id="map_canvas"></div>
  {{/constant}}
</template>

<template name="home_search_resources">
  {{> search_resources}}
</template>

<template name="display_home">
  {{#if resource}}
    {{#with resource}}
    <div class="row-fluid">
      <div class="span11">
        <a href="{{urlFor 'resource'}}"><h4>{{name}}</h4></a>
      </div>
    </div>
    <div class="row-fluid">
      |{{#each services}}
        <a href="{{urlFor 'service'}}"><small class="muted">{{name}} |</small></a>
      {{/each}}
    </div>
    <hr>
    <div class="row-fluid">
      {{shortDescription}}
    </div>
    <hr>
    <div class="row-fluid">
      {{> resource_contact}}
    </div>
    <hr>
    <div class="row-fluid">
      {{#with hours}}
      {{> resource_hours}}
      {{/with}}
    </div>
    {{/with}}
  {{else}}
    <div class="row-fluid">
      {{> show_map_resources}}
    </div>
  {{/if}}
</template>

<template name="show_map_resources">
  {{#if has_map_resources }}
    {{#each map_resources}}
      {{> resource_well}}
    {{/each}}
  {{/if}}
</template>

<template name="flag_control">
  <div class="pull-right" style="cursor:pointer">
    <a class="flag" id="{{_id}}">
      <i class="icon-flag {{flag_on}}"></i>
    </a>
  </div>
</template>

<template name="resource_well">
  <div class="box-wrapper" >
    <div class="box">
      <div class="controls-wrapper highcontrols-wrapper">

        <div class="row-fluid">
          <div class="span10">
            <a style="font-size:130%" href="{{url}}">{{name}}</a>
          </div>
          <div class="span2">
            {{> flag_control }}
          </div>
        </div>
        <div class="row-fluid">
          <small class="muted">
            |{{#each sub_services}}
            <a href="#">{{name}} </a>|
            {{/each}}
          </small>
        </div>
        <hr>
        <div class="row-fluid">
          {{short_desc}}
        </div>
        <hr>
        <div class="row-fluid">
          {{#with address}}
          {{> resource_address}}
          {{/with}}
        </div>
        <div class="row-fluid">
          {{#with contact}}
          {{> resource_contact}}
          {{/with}}
        </div>
        <div class="row-fluid">
          {{#with hours}}
          {{> resource_hours}}
          {{/with}}
        </div>
        {{#if has_access}}
        <div class="row-fluid">
          {{#with access}}
          {{> resource_access}}
          {{/with}}
        </div>
        {{/if}}

      </div>
    </div>
  </div>
</template>

<template name="resource_access">
  <div class="span2">
    {{#each fields}}
    <div class="row-fluid">
      {{this}}
    </div>
    {{/each}}
  </div>
  <div class="span9 offset1">
    {{#each values}}
    <div class="row-fluid">
      {{this}}
    </div>
    {{/each}}
  </div>
</template>

<template name="resource_address">
  <div class="span2">
    Address:
  </div>
  <div class="span9 offset1">
    {{#each this}}
    <div class="row-fluid">
      {{street}}
    </div>
    <div class="row-fluid">
      {{city}}, {{state}}, {{zipcode}}
    </div>
    {{/each}}
  </div>
</template>

<template name="resource_contact">
  <div class="span2">
    Contact:
  </div>
  <div class="span9 offset1">
    {{#if name}}
    <div class="row-fluid">
      {{name}}, {{title}}
    </div>
    {{/if}}
    {{#each phones}}
    <div class="row-fluid">
      <a href="#">{{number}}</a>
    </div>
    {{/each}}
    {{#if email}}
    <div class="row-fluid">
      {{email}}
    </div>
    {{/if}}
    {{#if url}}
    <div class="row-fluid">
      {{url}}
    </div>
    {{/if}}
  </div>
</template>

<template name="resource_hours">
  <div class="row-fluid">
    <div class="span2">
      Hours:
    </div>
    <div class="span9 offset1">
      {{#each day_of_week}}
      <div class="row-fluid">
        <div class="span3">{{day}}</div>
        {{#if closed}}
        <div class="span3 offset1">
          Closed
        </div>
        {{else}}
        <div class="span3 offset1">
          {{open}}
        </div>
        <div class="span3 offset1">
          {{close}}
        </div>
        {{/if}}
      </div>
      {{/each}}
    </div>
  </div>
</template>
