<template name="home">
  <div class="row-fluid">
    <div class="span3">
      {{#with service_datums}}
      {{> search_services}}
      {{/with}}
    </div>
    <div class="span5" style="margin-left:20px">
      {{> search_map}}
    </div>
    <div class="span4" style="margin-left:20px">
      {{#with resource_datums}}
      {{> home_search_resources}}
      {{/with}}
    </div>
  </div>
  <div class="row-fluid" style="height:100%">
    <div class="span3" id="services_home">
      {{> services}}
    </div>
    <div class="span5" style="height:100%; margin-left:20px">
      {{> map_home}}
    </div>
    <div class="span4" style="margin-left: 20px; padding-right: 20px; overflow-y: scroll;" id="display_home">
      {{> display_home}}
    </div>
  </div>
</template>

<template name="search_services">
  <form id="search_services_form" class="form-search form-horizontal">
    <div class="input-append">
      <input id="search_services_field" type="text" class="search-query" placeholder="Search Services">
      <button type="submit" class="btn"><i class="fa fa-search"></i></button>
    </div>
  </form>
</template>

<template name="services">
  {{#each services}}
  <div class="serviceBox selected" color={{color}}>
    <div class="row-fluid">
      <div class="span10">
        {{name}}
      </div>
      <div class="pull-right">
        {{count}}
      </div>
    </div>
  </div>
  {{/each}}
</template>

<template name="search_map">
  <form class="form-search form-horizontal">
    <div class="input-append">
      <input id="search_map_field" type="text" size="200" placeholder="Change Location" style="-webkit-border-radius:14px; -moz-border-raidus:14px">
    </div>
  </form>
</template>

<template name="map_home">
  <div id="map" style="height:100%">
    {{#constant}}
    <div id="map_canvas"></div>
    {{/constant}}
  </div>
</template>

<template name="home_search_resources">
  {{> search_resources}}
</template>

<template name="display_home">
  {{#if resource}}
    {{#with resource}}
    <div class="row-fluid">
      <div class="span11">
        <a href="{{urlFor 'resource'}}"><h4>{{name}}</h4></a>
      </div>
    </div>
    <div class="row-fluid">
      {{#each services}}
        <a href="{{urlFor 'service'}}"><small class="muted">{{name}}</small></a>
      {{/each}}
    </div>
    <hr>
    <div class="row-fluid">
      {{shortDescription}}
    </div>
    <hr>
    <div class="row-fluid">
      {{> resource_contact}}
    </div>
    <hr>
    <div class="row-fluid">
      {{> resource_hours}}
    </div>
    {{/with}}
  {{else}}
    {{> show_map_resources}}
  {{/if}}
</template>

<template name="show_map_resources">
  {{#if has_map_resources }}
    {{#each map_resources}}
      {{> resource_contact}}
    {{/each}}
  {{else}}
    <p>Nothing to see here</p>
  {{/if}}
</template>

<template name="flag_control">
  <div class="pull-right" >
    <a class="flag" id="{{_id}}"><i class="fa fa-flag fa-2x {{flag_on}}"></i></a>
  </div>
</template>

<template name="resource_contact">
  {{> flag_control }}
  <div class="well" >
    <div class="row-fluid">
      <div class="span2">
        Address:
      </div>
      <div class="span10">
        {{streetNumber}} {{street}}, {{city}}, {{state}} {{zipcode}}
      </div>
    </div>
    <div class="row-fluid">
      <div class="span2">
        Email:
      </div>
      <div class="span10">
        {{email}}
      </div>
    </div>
    <div class="row-fluid">
      <div class="span2">
        Phone:
      </div>
      <div class="span10">
        {{phone}}
      </div>
    </div>
  </div>
</template>

<template name="resource_hours">
  <div class="row-fluid">
    <div class="span2">
      Hours:
    </div>
    <div class="span10">
      9am - 5pm
    </div>
  </div>
</template>
