<template name="ontology">
  <div class="row-fluid">
    <div class="span8">
      <div class="row-fluid">
        <div class="span6">
          {{> make_new_parent}}
        </div>
        <div class="span4">
          {{> make_new_child}}
        </div>
      </div>
      <div class="row-fluid">
        <div class="span4">
          {{> current_parents}}
        </div>
        <div class="span4">
          {{> current_children_of_parent}}
        </div>
      </div>
    </div>
    <div class="span4">
      <div class="row-fluid">
        {{> add_inputs_to_service}}
      </div>
    </div>
  </div>
</template>

<template name="make_new_parent">
</template>

<template name="make_new_child">
</template>

<template name="current_parents">
</template>

<template name="current_child_of_parent">
</template>

<template name="add_inputs_to_service">
</template>
