<template name="editor">
  <div class="row-fluid">
    <div class="span6">
      <div class="row-fluid">
        <h4 style="margin-left:20px">Enter a new resource</h4>
      </div>
      <div class="row-fluid">
        {{> choose_category}}
      </div>
    </div>
    <div class="span6">
      <div class="row-fluid">
        <h4>Edit a resource</h4>
      </div>
      <div class="row-fluid">
        {{#with resource_datums}}
        {{> edit_search_resources}}
        {{/with}}
      </div>
    </div>
  </div>
  <div class="row-fluid">
    <div style="margin:20px">
      {{#if show_new_resource}}
      {{> new_resource}}
      {{/if}}

      {{#if show_edit_resource}}
      {{> edit_resource}}
      {{/if}}

      {{#if show_flags}}
      {{> display_flags}}
      {{/if}}
    </div>
  </div>
</template>

<template name="choose_category">
  <div class="controls" style="margin-left:20px">
    <select id="service" name="service" class="input-xlarge">
      <option value="" selected="selected">Please Select a Category</option>
      {{#each categories}}
      <option value="{{_id}}">{{name}}</option>
      {{/each}}
    </select>
  </div>
</template>

<template name="new_resource">
  <form class="form-horizontal">
    <fieldset>
      <!-- this will adjust depending on the category chosen above -->
      <div id="inputFields">
        {{#with selected_category}}
        {{#each resource_fields "input"}}
        {{> category_field_input}}
        {{/each}}
        {{#each resource_fields "number"}}
        {{> category_field_number}}
        {{/each}}
        {{#each resource_fields "dropdown"}}
        {{> category_field_dropdown}}
        {{/each}}
        {{#each resource_fields "hours"}}
        {{> category_field_hours}}
        {{/each}}
        {{/with}}
      </div>
      <!--     -->
    </fieldset>
    {{#with selected_category}}
    {{#if show_submit}}
    <div class="control-group">
      <label class="control-label"></label>
      <div class="controls">
        <button id="submit_resource" type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
    {{/if}}
    {{/with}}
  </form>
</template>

<template name="edit_search_resources">
  {{> search_resources}}
</template>

<template name="edit_resource">
  <p>Hi</p>

</template>

<template name="category_field_input">
  <div class="control-group">
    <label class="control-label">{{name}}</label>
    <div class="controls">
      <input id="{{name}}" name="address-line1" type="text" placeholder="{{placeholder}}"
             class="input-xlarge">
    </div>
  </div>
</template>

<template name="category_field_number">
  <div class="control-group">
    <label class="control-label">{{name}}</label>
    <div class="controls">
      <input id="{{name}}" name="address-line1" type="text" placeholder="{{placeholder}}"
             class="input-xlarge">
    </div>
  </div>
</template>

<template name="category_field_dropdown">

</template>

<template name="category_field_hours">
  {{#each day_of_week}}
  <div class="control-group">
    <label class="control-label">{{day}}</label>
    <div class="controls">
      <input id="{{day}}_open" type="text" placeholder="9am"
             class="input-xlarge">
    </div>
    <div style="margin-left:15px"></div>
    <label class="control-label">{{day}}</label>
    <div class="controls">
      <input id="{{day}}_close" type="text" placeholder="5pm"
             class="input-xlarge">
    </div>
  </div>
  {{/each}}
</template>

<template name="display_flags">
  <div class="row-fluid" style="margin-top:35px;">
    <h4>{{num_flags}} Open Flags</h4>
  </div>
  {{#each flags}}
  <div class="row-fluid">
    <div class="span8">
      <a href="{{url_for 'resource'}}">{{resource_name}}</a>
    </div>
    <div class="span4">
      <button type="submit" resource_id="{{resource_id}}" class="btn btn-default btn-small">Edit</button>
    </div>
  </div>
  {{/each}}
</template>
