<template name="category_field_dropdown">

</template>

<template name="category_field_hours">
  {{#each day_of_week}}
  <div class="control-group">
    <label class="control-label">{{day}}</label>
    <div class="controls">
      <input id="{{day}}_open" type="text" placeholder="9am"
             class="input-xlarge">
    </div>
    <div style="margin-left:15px"></div>
    <label class="control-label">{{day}}</label>
    <div class="controls">
      <input id="{{day}}_close" type="text" placeholder="5pm"
             class="input-xlarge">
    </div>
  </div>
  {{/each}}
</template>

<template name="category_field_input">
  <div class="control-group">
    <label class="control-label">{{name}}</label>
    <div class="controls">
      <input id="{{name}}" name="address-line1" type="text" placeholder="{{placeholder}}"
             class="input-xlarge">
    </div>
  </div>
</template>

<template name="category_field_number">
  <div class="control-group">
    <label class="control-label">{{name}}</label>
    <div class="controls">
      <input id="{{name}}" name="address-line1" type="text" placeholder="{{placeholder}}"
             class="input-xlarge">
    </div>
  </div>
</template>

<template name="choose_category">
  <div class="controls" style="margin-left:20px">
    <select id="service" name="service" class="input-xlarge">
      <option value="" selected="selected">Please Select a Category</option>
      {{#each categories}}
      <option value="{{_id}}">{{name}}</option>
      {{/each}}
    </select>
  </div>
</template>

<template name="editor">
  <div class="row-fluid">
    <div class="span6">
      <div class="row-fluid">
        <div class="span5">
          <h4 style="margin-left:20px">Edit A Resource</h4>
        </div>
        <div class="span7">
          {{#with resource_datums}}
          {{> edit_search_resources}}
          {{/with}}
        </div>
      </div>
      <div class="row-fluid" style="margin-top:35px; margin-left:20px">
        {{#if has_needs_edit}}
        {{> needs_edit}}
        {{else}}
        <h4>No Edits Reported</h4>
        {{/if}}
      </div>
      <div class="row-fluid" style="margin-top:35px; margin-left:20px">
        {{#if has_open_flags}}
        <h4>Open Flags</h4>
        {{> open_flags}}
        {{else}}
        <h4>No Open Flags</h4>
        {{/if}}
      </div>
    </div>
    <div class="span6">
      {{#if show_edit_resource}}
        {{#with resource}}
        {{> edit_resource}}
        {{/with}}
      {{else}}
      {{> new_resource}}
      {{/if}}
    </div>
  </div>
</template>

<template name="edit_button">
  <div class="row-fluid">
    <div class="span10">
      {{current}}
    </div>
    <div class="span2">
      <button type="submit" class="btn btn-default btn-tiny" id="{{field}}">Edit</button>
    </div>
  </div>
</template>

<template name="edit_resource">
  {{> edit_button name_field}}
  {{> edit_button url_field}}
  {{> edit_button top_category_field}}
  {{> edit_button sub_category_field}}
</template>

<template name="edit_search_resources">
  {{> search_resources}}
</template>

<template name="needs_edit">
  <section class="well">
  <h4>In Need of Editing</h4>
  {{#each resources}}
  {{> open_edit info_from_edit}}
  {{/each}}
  </section>
</template>

<template name="new_resource">
  <form class="form-horizontal">
    <fieldset>
      <!-- this will adjust depending on the category chosen above -->
      <div id="inputFields">
        {{#with selected_category}}
        {{#each resource_fields "input"}}
        {{> category_field_input}}
        {{/each}}
        {{#each resource_fields "number"}}
        {{> category_field_number}}
        {{/each}}
        {{#each resource_fields "dropdown"}}
        {{> category_field_dropdown}}
        {{/each}}
        {{#each resource_fields "hours"}}
        {{> category_field_hours}}
        {{/each}}
        {{/with}}
      </div>
      <!--     -->
    </fieldset>
    {{#with selected_category}}
    {{#if show_submit}}
    <div class="control-group">
      <label class="control-label"></label>
      <div class="controls">
        <button id="submit_resource" type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
    {{/if}}
    {{/with}}
  </form>
</template>

<template name="open_edit">
  <hr>
  <div class="row-fluid">
    <div class="span8">
      {{#with resource}}
      <a style="font-size:110%" href="{{pathFor 'resource'}}">{{name}}</a>
      {{/with}}
    </div>
    <div class="span4">
      <div class="row-fluid">
        <div class="span7" style="position:relative; top:8px">
          {{created}}
        </div>
        <div class="span5">
          <button type="submit" resource_id="{{resource_id}}" class="btn btn-primary btn-sm">Edit</button>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="open_flags">
  <section class="well">
    {{#each flags}}
    {{> open_edit info_from_flag}}
    {{/each}}
  </section>
</template>

